# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


.directory

# dist files
dist/
*.zip
*.tar.gz

build/
	*.*

hpfrec.egg-info/
    *.*
	
*.so
*.o
*.out
*.exe
*.dylib

hpfrec/
	*.so
	cython_loops.c

MANIFEST
